body{
    margin: 0;
    font-family: 'Raleway';
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -15px 20px 10px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img{
    height: 50px;
    width: 50px;
}
.logo span{
    font-size: 20px;
}
.fontsize{
    font-size: 40px;
}
.body{
    display: flex;
}
.menu{
    width: -webkit-fill-available;
}
.menu img{
    width: -webkit-fill-available;
    height: 350px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}
.menuLogo{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.menuLogo h1{
    margin: 0;
}
.menuLogoButton{
    display: flex;
    align-items: center;
}
.offersMenu{
    padding-left: 250px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}
.offersMenu button:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 5px;
    color: #f0c87e;
    transition: 0.1s;
}
.offersMenu button{
    font-size: 16px;
    font-weight: bolder;
    border: none;
    background: none;
    cursor: pointer;
}
.underline{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 5px;
    color: #f0c87e;
}
.menuWithoutImg{
    box-shadow: -15px 12px 30px -20px;
    transform: translateY(-4px);
}
.rateContainer{
    padding-left: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.deliveryContainer{
    padding-left: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.singleMenu{
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
    height: 150px !important;
    padding-left: 20px;
    gap: 10px;
    justify-content: space-between;
    padding-right: 50px;
    box-shadow: black 0px 0px 20px -10px;
}
.menuHedlines{
    padding-left: 250px;
}
.headlineImgs{
    margin-left: 250px;
    margin-right: 250px;
    height: 150px!important;
    border-radius: 20px!important;
    margin-top: 50px;
    object-fit: cover;
    box-shadow: black 0px 0px 20px -10px;
}
.singleMenuButton{
    font-size: 25px;
    background: #ffeac4;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer; 
}
.singleMenuButton:hover{
    box-shadow: black 0px 0px 20px -10px;
    transition: 0.5s;
    background: #f0c87e;
}
.singleMenuInfoButton{
    background: none;
    cursor: pointer;
    border: none;
}
.singleMenuInfoButton:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.headlineSingleMenu{
     display: flex;
     align-items: center;
     gap: 10px;
}
.basket{
    width: 600px;
    box-shadow: -15px 12px 30px -20px;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.chooseSingleMenuBackgroundColor{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.667);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalSingleChoose{
    background: white;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.finalSingleChooseContent img{
    width: -webkit-fill-available;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid;
}
.singleCard{
    width: -webkit-fill-available;
}
.singleCardHeadline{
    text-align: center;
}
.singleCardHeadline button{
    transform: translateY(-100px) translateX(220px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: #ffeac4;
}
.singleCardHeadline button:hover{
    box-shadow: black 0px 0px 20px -10px;
    transition: 0.5s;
    background: #f0c87e;
}
.finalSingleChooseContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.finalSingleChooseContent img{
    margin-left: 50px;
    margin-right: 50px;
}
.singleCardText{
    display: flex;
    flex-direction: column;
    background: #ffeac4;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.singleCardPriceContainer{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}
.priceButton{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
    border: none;
    background: #ffeac4;
}
.priceButton:hover{
    box-shadow: black 0px 0px 20px -10px;
    transition: 0.5s;
    background: #f0c87e;
}
.amountAdd{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffeac4;
}
.amountAdd:hover{
    box-shadow: black 0px 0px 20px -10px;
    transition: 0.5s;
    background: #f0c87e;
}
.amountRemove{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffeac4;
}
.amountRemove:hover{
    box-shadow: black 0px 0px 20px -10px;
    transition: 0.5s;
    background: #f0c87e;
}
.none{
    display: none;
}
.hidden{
    overflow: hidden;
}
button{
    cursor: pointer;
}